* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 86%);
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

main {
  width: 600px;
  margin: 100px auto;
  box-shadow: 3px 2px 5px -1px rgba(0, 0, 0, 0.58);
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  background: hsl(0, 0%, 100%);
  text-align: left;
}

table th,
table td {
  padding: 10px;
}

table th {
  font-weight: 600;
  background-color: #fff;
}

table tr:nth-child(odd) {
  background: hsl(0, 0%, 94%);
}

.button-container     {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 40px;
}



.button-container button {
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
}

button:focus {
  border: 1px solid hsl(39, 56%, 40%);
}

.button-container button#next   {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media (max-width: 610px) {
    main    {
        width: 100%;
        min-width: 300px;
    }

    table th    {
        display: none;
    }

    table tr    {
        display: flex;
        flex-wrap: wrap;
    }

    table td {
        width: 50%;
        display: flex;
        flex-direction: column;
      }

      td:nth-child(1)::before {
        content: '💰 Coin';
        font-weight: 600;
      }
      td:nth-child(2)::before {
        content: '📄 Code';
        font-weight: 600;
      }
      td:nth-child(3)::before {
        content: '🤑 Price';
        font-weight: 600;
      }
      td:nth-child(4)::before {
        content: '📉 Total Supply';
        font-weight: 600;
      }
}
